.header-cont {
  background: linear-gradient(to bottom left, rgb(100, 57, 147), rgb(19, 168, 159));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  padding-bottom: 5.3125rem;
}
