// Main Header
.main-header {
  background-color: $text-color;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 0;
  max-width: 73.4375rem;
  margin: 0 auto;

  &__link {
    text-decoration: none;
    color: $second-color;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 37.75rem;
    list-style: none;
    font-weight: 700;
  }

  &__cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 47.8125rem;
  }

  &__item--button {
    display: block;
    margin: 0;
    border: none;
    border-radius: 0.9375rem;
    font-weight: 700;
    width: 6.25rem;
    height: 1.75rem;
    color: $text-color;
    background-color: $button-color;
    text-align: center;
    cursor: pointer;
  }
}

// Header Container
.header-cont {
  background: linear-gradient(to bottom left, rgb(100, 57, 147), rgb(19, 168, 159));
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  background-position: center;
  padding-bottom: 5.3125rem;

}

.blocks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 4.6875rem;
  width: 70rem;
  margin: 0 auto;
}

// Left Block

.left-block {
  display: flex;
  flex-direction: column;
  width: 35rem;

  &__title {
    font-size: 3.75rem;
    color: $text-color;
    margin-bottom: 2.375rem;
  }

  &__info {
    font-size: 1.875rem;
    font-weight: 400;
    color: $text-color;
    margin-bottom: 3.75rem;
  }
}

.line-slider__text {
  display: flex;
  justify-content: space-between;
  color: $text-color;
  margin-bottom: 1.1875rem;
  font-size: $font-size;
  font-weight: normal;
}

.quantity {
  font-weight: 700;
}

.range-control {
  position: relative;
  display: flex;
  align-items: center;
  height: 1.125rem;
  background-color: transparent;
  overflow: hidden;
  margin-bottom: 0.6875rem;
}

.scale {
  flex: 0 0 100%;
  height: 0.25rem;
  background-color: #acacac;
}

.bar {
  height: 0.25rem;
  background-color: $main-color;
}

.line-toggle-min {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 3.125rem;
  transform: translateY(-50%);
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: $main-color;
}

.line-toggle-max {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 8.6875rem;
  transform: translateY(-50%);
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: $main-color;
}

.seasons {
  display: flex;
  justify-content: space-between;
  font-size: $font-size;
  color: $text-color;
  margin-bottom: 3.75rem;

  &__start {
    padding-left: 2.125rem;
  }

  &__end {
    padding-right: 7.375rem;
  }

}



.left-block__socials {
  display: flex;
  list-style: none;

  & li:nth-child(-n+3) {
    margin-right: 2.5rem;
  }

  & svg {
    width: 2rem;
    height: 2rem;
    fill: $main-color;

  }
}

// Right Block

.right-block {
  display: flex;
  width: 30.0625rem;
  min-height: 34rem;
  background: linear-gradient(to right, #4b6f9a, #613c90);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 6px 14.72px 1.28px rgba(0, 0, 0, 0.2);
}

.title-position {
  display: flex;
  flex-direction: column;
  padding-top: 3.625rem;
}

.text-position {
  margin-bottom: 3.125rem;
}

.right-block__title {
  font-size:2.25rem;
  color: $text-color;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2.25rem;
}

.right-block__info {
  font-size: 1.5rem;
  color: $text-color;
  font-weight: 400;
  text-align: center;
}

.trigger {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin-bottom: 2.25rem;
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $text-color;
    width: 5.5rem;
    height: 5.5rem;
    font-size: 2.25rem;
    font-weight: bold;
  }
  &__item--ocupation {
    text-align: center;
    color: $text-color;
    font-size:$font-size;
    padding-top: 0.625rem;
  }
  
}

.right-block__conv {
  text-align: center;
  font-size: 1.875rem;
  color: $text-color;
  font-weight: bold;
  margin-bottom: 0.9375rem;
}

.right-block__acc {
  text-align: center;
  font-size: 1.5rem;
  color: $text-color;
  font-weight: normal;
  margin-bottom: 2.1875rem;
}

.img-currency {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: $text-color;
  &:before {
    display: inline-block;
    margin-bottom: -0.9375rem;
    width: 1.75rem;
    height: 2.875rem;
    content: '';
    background-image: url('../images/layer.png');
    margin-right: 5px;
  }
}

.right-bloc__button {
  display: block;
  margin: 0 auto;
  margin-bottom:2.75rem;
  width: 14.6875rem;
  height: 3.75rem;
  border: none;
  border-radius: 1.875rem;
  background-color: $main-color;
  color: $second-color;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}
